.post_body{
    margin:10px;
    padding: 5px;
    border: 2px black solid;
    

}

.addpost{
    margin: 10px;
    padding: 5px;
    border: 2px rgb(109, 108, 108) solid;
    
}
.timeclass {

    background-color: lightcyan;
    font-weight: normal;
}

.userclass{
    background-color: rgba(20, 210, 181, 0.498);

}

.textclass{
    background-color: lightblue;
    font-weight: bold;
}

.idclass{
    background-color: rgba(20, 210, 182, 0.774);

}

.likesclass{
    background-color: lightseagreen;
}

.input{
    background-color: lightblue;
    width: 1200px;
    

}

.inputedit{
    background-color: whitesmoke;
    width: 1200px;
    

}

.addbutton{
    display: flex; 
    justify-content: flex-end
}

label {
vertical-align: top;
}

